body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #282c34;
    color: white;
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 80%;
    max-width: 900px;
    text-align: left;
  }
  
.console-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    z-index: 1; /* Asegura que el contenido esté encima del fondo */
  }
  
  
  .console-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .console-buttons {
    display: flex;
    gap: 8px;
  }
  
  .console-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #555;
  }
  
  .console-button.green {
    background-color: #6cb714;
  }
  
  .console {
    background-color: #000;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.2rem;
    color: #6cb714; /* color de texto verde tipo consola */
  }
  
  p {
    margin: 0;
    line-height: 1.6;
  }
  